[2016-09-16 16:00] himdel opened #23 "Toolbar hasContent true when it should be falsy"
I'm seeing a case where the `miq-toolbar-group` is generated (`vm.hasContent(item) returns true`) but not shown because it's empty..

To the left of the Configuration button..

![foreman-toolbar](https://cloud.githubusercontent.com/assets/289743/18592356/246ecf18-7c26-11e6-99c9-8d5a252088f7.png)

This is the toolbarItem value:

[code]

Pretty sure the group should be hidden if empty, so hasContent

[2016-09-16 17:05] karelhala commented on #23
I'll look into it.

[2016-09-16 17:24] karelhala commented on #23
Btw good catch, and great steps to reproduce. Took me about 10 minutes to fix it.

[2016-09-16 18:56] #23 closed

[2016-09-20 12:01] himdel opened #26 "Cannot set property 'hidden' of undefined while hiding a button"
https://files.gitter.im/PanSpagetka/3npj/Screenshot-from-2016-09-20-10-33-05.png

Happens during

[code]

in VM's Utilization screen.

@karelhala the usual question :) (I have not yet tried to figure out if this is because the button didn't exist or something like that, but we should probably not crash anyway..)

[2016-09-20 12:14] romanblanco opened #27 "Missing 'ui-components.js.map' file"
I'm getting `FATAL` errors in console for some time now, informing me that `ui-components.js.map` is missing:

[code]

is there something, that can be done to fix this? :blush: @karelhala

[2016-09-20 12:15] romanblanco commented on #27
@miq-bot assign @karelhala

[2016-09-20 12:15] romanblanco commented on #27
@miq-bot add_label bug

[2016-09-20 12:15] himdel commented on #27
@romanblanco Unrecognized command `assign`
@romanblanco Unrecognized command `add_label`
:trollface:

[2016-09-20 12:16] romanblanco commented on #27
Oh... \*Sigh\*... Okay :smile:

[2016-09-20 13:24] karelhala commented on #26
Yeah, looks like the problem is that this button does not exists, I have a fix prepared, I just want to create test case for this as well.

[2016-09-20 13:27] karelhala commented on #27
Well we need those maps in dev mode, but they should not be present in production mode. Not sure how to remove them when releasing new version.

[2016-09-20 13:47] karelhala commented on #26
This issue is relevant to main repo.

[2016-09-20 13:48] himdel commented on #27
@karelhala I think we *could* just put the map file in the bower package, lots of projects do that. The fact that we don't *need* it doesn't mean we can't package it..

[2016-09-20 13:50] karelhala commented on #27
@himdel sounds good and reasonable. I'll update `.gitinore` and bower so the map will be present in bower package.

[2016-09-20 17:23] #27 closed

[2016-09-22 16:54] #26 closed

[2016-09-22 16:55] himdel commented on #26
@PanSpagetka ..should be fixed now, can you verify?

[2016-09-23 08:42] PanSpagetka commented on #26
@himdel  @karelhala thanks :+1: seems to be ok :)

[2016-11-28 18:45] himdel opened #40 "Prefer CSS classes over inline styles"
We do have a bunch of inline style declarations that we probably want in CSS instead.

Just so as not to forget, raised in https://github.com/ManageIQ/ui-components/pull/37 .

[2016-12-10 01:48] mtho11 opened #44 "Unable to build with Node 7.x stable (works with 6.x LTS)"
Node 6.x is LTS is good, but 7.x stable doesn't run (at least on OS/X). Since it is the stable version and we are in Dev, it should probably also run in 7.x.

Child extract-text-webpack-plugin:
        + 1 hidden modules

    ERROR in Missing binding ui-components/node_modules/node-sass/vendor/darwin-x64-51/binding.node
    Node Sass could not find a binding for your current environment: OS X 64-b

[2016-12-15 03:29] mtho11 opened #45 "Address npm dependency issues found in master branch [Opened by bitHound]"
<p>bitHound discovered:</p> <ul> <li>4 packages with at least one security vulnerability.</li> <li>9 outdated packages.</li> </ul> <p>For details go to <a href="https://www.bithound.io/github/ManageIQ/ui-components/master/dependencies/npm">bitHound</a>.</p>
***
Looks like we need to do some updating here. I don't mind doing the PR if no one else has the time.

[2016-12-20 20:42] mtho11 opened #49 "Typedoc for Documentation?"
We might want to think about using [Typedoc](http://typedoc.org/) for our typescript documentation.

Here is sample of a project using it: http://molecuel.github.io/mlcl_core/classes/mlclcore.html#subjects

wdyt?

CC @karelhala @himdel @martinpovolny

[2016-12-21 10:56] himdel commented on #49
Well, frankly, we may want to think about *having* a documentation :).

But idk, for me, I'm very much not a fan of javadoc-style documentation, nor cluttering the code with such comments.

I'd much prefer having clear code, and a handwritten doc for each component.

That said, whoever ends up actually writing the docs should have more say :)

[2016-12-21 11:52] karelhala commented on #44
Try running `npm rebuild node-sass`, it should resolve this problem.

[2016-12-21 15:35] mtho11 commented on #49
@himdel yeah, I'd be fine with no java-doc and actual documentation that is more useful. I see what you mean about it looking cluttered.

[2016-12-21 15:37] #49 closed

[2016-12-22 20:13] mtho11 opened #51 "Karma Tests Failing"
The Karma tests are failing:

PhantomJS 2.1.1 (Mac OS X 0.0.0) Sort items test controller should init options FAILED
	TypeError: undefined is not a constructor (evaluating 'compileProvider.preAssignBindingsEnabled()') (line 2260)
	node_modules/angular-mocks/angular-mocks.js:2260:80
	$componentController@node_modules/angular-mocks/angular-mocks.js:2330:25
	src/common/components/sortItemsComponent.s

[2016-12-23 12:56] #51 closed

[2016-12-24 02:26] mtho11 commented on #44
@karelhala that doesn't seem to resolve the issue, maybe its just me or platform differences?

[2017-01-05 13:44] karelhala opened #53 "When running application typings error occure"
This is placeholder issue for someone who is not involved in merge process, we have abandoned typings package in https://github.com/ManageIQ/ui-components/pull/41 so if you had installed this package before this transition. Remove folder `typings` and `node_modules` and re-run `npm install` to check types from npm.

[2017-01-25 10:53] himdel commented on #44
@mtho11 is this still a problem? I'd try simply removing `node_modules` and doing a fresh `npm install` (well, or `yarn` :)).

[2017-01-26 02:18] mtho11 commented on #44
@himdel yes, but I'm sure its platform specific - OS/X.

[2017-02-10 01:54] mtho11 commented on #53
@karelhala do we still need this issue now?

[2017-04-11 14:47] himdel opened #64 "Toolbars - allow angular components as custom toolbars"
Right now, a custom toolbar is just `ng-bind-html`...

Which is unfortunate because it doesn't `$compile` anything so the html can't really be angulary.
.. And you can't `miq_boostrap` because it's a child of the toolbar element, which has already been bootstrapped.

So.. to be able to use angulary custom toolbars, we may need to add support for components, or possibly a generic "`$compile` this"

[2017-04-20 17:35] ITD27M01 opened #65 ""Multiselect" DropDown does not work in SUI"
Hi guys.
The "multiselect" options for DropDown list does not work in SUI. I cannot select multiple values for this type of element form SUI but can do it from classic ui:
Screen frim Classic UI:
![image](https://cloud.githubusercontent.com/assets/3703483/25244153/41fef4c2-2608-11e7-8642-c4b7598d4651.png)
Screen from SUI:
![image](https://cloud.githubusercontent.com/assets/3703483/25244170/4f77383

[2017-07-05 18:35] abonas opened #80 ""warning fsevents@1.1.2: The platform "linux" is incompatible with this module.""
here's the outcome of compiling - on Fedora 24:

- I get this warning on incompatibility:
"warning fsevents@1.1.2: The platform "linux" is incompatible with this module."
given that miq is running on linux - sounds like this warning should be resolved

[2017-07-05 23:10] mtho11 commented on #80
@abonas to be complete, I guess we would also need to know the node version and yarn version as well.
`node --version` and `yarn --version`

[2017-07-05 23:20] mtho11 commented on #80
Some hints... https://github.com/yarnpkg/yarn/issues/1285

[2017-07-06 10:16] abonas commented on #80
node v 4.7.3
yarn v 0.24.5

[2017-07-06 14:49] mtho11 commented on #80
@abonas could you please try using node v6.x as that is the current active release and what is required for ui-components (https://github.com/ManageIQ/ui-components#development-environment). v4 is in [maintenance mode](https://github.com/nodejs/LTS)

[2017-07-11 13:45] himdel opened #81 "Splitting dist/ from git"
There's been a few discussion around the topic of not having `dist/` in git, to prevent useless merge conflicts, etc.

Seems like there's 2 options - separate repo for the built package, or gitignore dist/ and git add --force the files. Either relies on travis updating dist/ when doing a successful master build.

Creating the issue so we can have 1 place for the discussion on how to do that...

Cc

[2017-07-11 13:49] skateman commented on #81
I tried the `git add --force` and it simply overwrites the `.gitignore` so after the file is force-added into the repo, the line in `.gitignore` gets ignored ... i.e. it's useless.

IMHO both solutions are terrible, *binaries* should not be present in any git repository. The best would be to drop bower and push to npm using travis, but I know I want too much :stuck_out_tongue_winking_eye:

[2017-07-11 13:52] skateman commented on #81
However, I have a completely primitive (and maybe the same terrible) idea: let's drop the binaries and explicitly call  `npm install` and `node_modules/webpack/bin/webpack.js -p` from the `bin/setup` available in `manageiq-ui-classic`. :trollface:  Then we can clean it up when we introduce webpacker.

[2017-07-11 13:54] himdel commented on #81
Ok, I guess that settles it :) We need a separate repo if we want to support bower.

Or we can drop bower support, and then we can just npm publish the binaries, yup. (Although that means we can no longer use the master branch as a dependency.)

[2017-07-11 13:56] skateman commented on #81
Why not? Can't we create a dummy auto-incremented -dev version after each merge into master? Let's call it unstable branch, or the `sid` :wink:

[2017-07-11 14:17] himdel commented on #81
That works too :)

[2017-07-11 14:20] skateman commented on #81
Actually, we can do this with bower too, right?

[2017-07-11 14:34] himdel commented on #81
Yup, that's true, bower just needs a tag, doesn't strictly need a branch or anything else.

[2017-07-11 14:50] skateman commented on #81
So we can create a `dev` tag, a [travis deploy hook](https://github.com/ManageIQ/font-fabulous/blob/master/.travis.yml#L15) with a [script](https://github.com/ManageIQ/font-fabulous/blob/master/ci/gh-pages.sh) and an access token set as a secret ENV var in Travis for **miq-bot** from @Fryguy.

[2017-07-11 15:44] Fryguy commented on #81
:+1:

[2017-07-11 15:47] Fryguy commented on #81
What exactly is the issue you are trying to solve though?  Is it just having a place to publish the builds that's not git?  A repo feels like overkill...what about upload to manageiq.org or some other download location?  I believe that could even be done as part of a travis deploy step on merge to master if you need the latest and greatest somewhere.

[2017-07-11 15:49] himdel commented on #81
@Fryguy it needs to be on github if we're to support bower. But we can probably drop it now that ui-classic *can* use npm packages (just need to finish the PRs to appliance, docker, etc..)

But the issue we're trying to solve is that by having the generated dist/ files in git, you get a conflict on every PR once any other PR is merged.

[2017-07-12 10:31] karelhala commented on #81
I like @skateman's idea of publishing dist under some dummy tag or branch.

[2017-07-12 10:56] skateman commented on #81
@karelhala working on it

[2017-07-12 15:28] mtho11 commented on #81
I like @skateman idea as well. With a preference toward an actual branch over the tag.

[2017-07-12 15:31] mtho11 commented on #81
Also, can the task of creating the binary be done with an `npm` task so it can be done manually via cli if needed?

[2017-07-12 15:36] himdel commented on #81
@mtho11 `yarn run build` ;)

[2017-07-12 15:43] mtho11 commented on #81
@himdel perfect then! 👍

[2017-07-12 17:30] himdel commented on #81
Sure it can :) To retrieve a particular version, it needs a tag, but right now we're depending on `    "manageiq-ui-components": "master"` and that's just the branch name.

[2017-07-12 17:30] skateman commented on #81
Just because dealing with branches is a bit more complicated as I need to sort out conflicts :disappointed:

[2017-07-12 17:32] himdel commented on #81
Maybe you don't .. if we say that that particular branch is always autogenerated, and if we run the script only when the tests passed *and* we're on master, then there's no confclicts, right? Or at least, we can always just pull the branch, overwrite all the files with the current version, and push --force it.

[2017-07-12 17:35] himdel commented on #81
(At least, I see no reason to generate `dist/` from any other source branch but master.)

[2017-07-12 17:42] skateman commented on #81
![nothingtodohere](https://user-images.githubusercontent.com/649130/28131455-35543818-673a-11e7-9652-fd464b5c3fea.gif)

[2017-07-12 18:04] mtho11 commented on #81
Just for completeness: https://bower.io/docs/api/#install

[2017-07-12 18:31] Fryguy commented on #81
Keeping the discussion here, in #83 it seems the approach is to create a dummy commit that is tagged with `dev`, off of master, so something like this...

[code]

My concerns is that the PR seems to force push the same tag name for each commit, which seems bad IMO.  You generally *never* want to force push anything that's public with git.  Additionally, you lose the builds from the previous commit

[2017-07-12 18:33] Fryguy commented on #81
Can you give it a SHA instead of a label ref, if needed?

[2017-07-13 08:51] himdel commented on #81
Agreed it should be a branch, not a tag. Pretty sure bower caches tags...

[2017-07-13 09:04] karelhala opened #84 "Color in buttons for toolbars"
When toolbars are used we need to specify color for it's icon in JSON.

Requested by @skateman for future color picker.

### Current state:
![selection_173](https://user-images.githubusercontent.com/3439771/28158622-99414872-67ba-11e7-9740-7ca4abde9890.png)

### Expected state:
![selection_174](https://user-images.githubusercontent.com/3439771/28158702-e4c347e6-67ba-11e7-8df2-1165f3b3c072.png)

[2017-07-13 11:21] skateman commented on #81
`yarn run build` is failing with:
[code]

[2017-07-13 14:27] himdel commented on #81
@skateman And how does that help us without the actual error?

[2017-07-13 14:29] skateman commented on #81
Well, I can't see anything else...

[2017-07-13 14:35] himdel commented on #81
Ah, ok then :) works for me... maybe try running `webpack -p` manually..

[2017-07-13 15:29] #81 closed

[2017-07-14 09:54] #84 closed

[2017-07-17 15:35] Fryguy opened #88 "bower-dev builds not working"
Continuing from @himdel's comment: https://github.com/ManageIQ/ui-components/pull/83#issuecomment-315326029

See https://travis-ci.org/ManageIQ/ui-components#L966-L1114 as an example

cc @skateman

[2017-07-17 15:36] Fryguy commented on #88
Additionally, I think we need a .gitignore on the bower-dev branch to ignore coverage and node_modules directory.  I also see more files in dist that are listed an untracked that we should handle somehow.

Even so, none of this should affect the git push.

[2017-07-17 15:38] Fryguy commented on #88
I googled for git push exit code 128, and one interesting thing was https://stackoverflow.com/a/17228373, which *might* be relevant.

[2017-07-25 16:37] chriskacerguis commented on #88
@chalettu could you please take a look here?

[2017-07-25 17:19] chriskacerguis commented on #65
@AllenBW could you take a look?

[2017-07-25 17:20] chriskacerguis commented on #53
@karelhala following up with what @mtho11 asked...do we still need this issue now?

[2017-07-25 17:21] chriskacerguis commented on #45
@martinpovolny @himdel thoughts on doing a dependency update (as much as we can without breaking things?)

/cc @chalettu

[2017-07-25 17:22] chriskacerguis commented on #40
@AllenBW no rush, but if you get a few cycles...could you please do this?

[2017-07-25 18:24] AllenBW commented on #40
@chriskacerguis what? don't understand.

[2017-07-25 18:26] AllenBW commented on #65
@ITD27M01 what version are you running?

[2017-07-25 19:42] chriskacerguis commented on #40
@AllenBW based on what @himdel stated, it seems to indicate that there are lots of instances of inline styles, and those should be moved into CSS files.  At some point it would be nice to address those and close the ticket.  Make sense?

[2017-07-25 20:37] AllenBW commented on #40
@chriskacerguis as i understand it, [🔪 these?](https://github.com/ManageIQ/ui-components/search?l=HTML&q=+style%3D&type=&utf8=✓)

[2017-07-26 09:25] ITD27M01 commented on #65
@chriskacerguis @AllenBW
Hi Guys.
From the screenshots it is an euwe-1 or euwe-2 but currently I do not use SUI and I use CloudFroms (5.7.3) with subscription and I use Tech Support for BZ creation (this workflow speeds up the bug fixing for me)

[2017-07-26 14:14] chriskacerguis commented on #65
@ITD27M01 ok, going to close this issue then :)

[2017-07-26 14:14] #65 closed

[2017-07-26 16:52] serenamarie125 opened #94 "Field error messages should be below input fields in the new dialog component"
Please move the field error message below input fields on the new dialog component recently contributed in [PR#82](https://github.com/ManageIQ/ui-components/pull/82).

Below is a screenshot of the current implementation:
![Uploading Screen Shot 2017-07-26 at 12.42.18 PM.png…]()

Based on the [PF guidelines](http://www.patternfly.org/pattern-library/forms-and-controls/errors-and-validation/), "Text

[2017-07-26 16:55] chalettu commented on #94
@serenamarie125 , I took your feedback on that and implemented it as part of PR #82 .   I tagged you in the updated screen interaction.

[2017-07-26 17:04] chalettu commented on #94
![error_messages](https://user-images.githubusercontent.com/230549/28633799-354c87f4-71f2-11e7-8d0d-5ab3429a0441.gif)
For reference, here is the implementation that got merged.

[2017-07-26 17:17] serenamarie125 commented on #94
oh snap, i missed that!  Looks so much better, thank you @chalettu .  I'm cool with you closing this, sorry bout the mixup.

[2017-07-26 17:18] #94 closed

[2017-07-26 23:31] serenamarie125 opened #97 "Use PF Radio Button styles in the new dialog component"
Please update the styles of the radio buttons in the new dialog component recently contributed in https://github.com/ManageIQ/ui-components/pull/82.

Current visualization: <img width="585" alt="screen shot 2017-07-26 at 7 20 26 pm" src="https://user-images.githubusercontent.com/12504403/28647878-ccfb2dd6-7237-11e7-9f80-d672e0a81d3b.png">

PatternFly radio buttons can be seen here: http://www.patt

[2017-07-27 12:52] serenamarie125 opened #98 "Dialog Editor common component should reflect the latest UX Designs"
Dialog Editor common component should reflect the latest UX Designs

Design work for the dialog editor can be found here: https://manageiq.github.io/manageiq-design/UX/ui-service/designer/Dialogs/design

When the dialog editor was part of the Service Designer, I think that Dave Taylor made many of the updates, unsure if they have been folded into the common component

@Loicavenel FYI

[2017-07-27 14:57] chalettu opened #99 "Rename Dialog component"
Rename the new dialog component to dialog-user.

[2017-07-27 14:57] chalettu commented on #99
@miq-bot assign chalettu

[2017-07-27 16:48] chalettu commented on #99
This was addressed in PR https://github.com/ManageIQ/ui-components/pull/100.   Closing this issue

[2017-07-27 16:48] #99 closed

[2017-07-27 16:51] chalettu commented on #97
@serenamarie125 , we can definitely work on going to this.  I have to check on a potential issue we might have because this repo uses PF3 and the OPS UI also uses PF3.  SUI uses PF4.   I can report back with my findings.   Thank you reporting this.

[2017-07-27 18:50] skateman opened #101 "Include font-fabulous in development"
It's really enough in development to be able to display the `ff` icons in the `fonticon-picker`.

[2017-07-27 18:50] skateman commented on #101
ping @karelhala

[2017-07-28 11:46] karelhala commented on #53
@chriskacerguis not anymore, closing it.

[2017-07-28 11:46] #53 closed

[2017-08-02 11:46] himdel commented on #88
Well, I guess we can close since it is working now :)

[2017-08-02 11:46] #88 closed

[2017-08-14 13:57] #101 closed

[2017-08-14 14:09] karelhala commented on #101
Resolved by https://github.com/ManageIQ/ui-components/pull/107

[2017-08-18 12:00] himdel opened #120 "Component generator"
@skateman suggested we should have a script to generate a new empty component with all the boilerplate needed .. sounds like a good idea :).

I'm guessing http://yeoman.io/?

(Mostly creating this issue so that I don't forget, but if anyone wants to take this.. :) )

[2017-09-12 00:32] chriskacerguis opened #154 "Add "required" field indicator on dialog-user component"
When a Dialog Element is set Required = True, we should show an information in the Dialog. I thought we were putting a “*” but discovered this is not the case. User will find out when clicking submit….. I think this is a pretty simple and will help a lot.

[2017-09-12 14:29] chriskacerguis commented on #154
Per @serenamarie125

![unnamed](https://user-images.githubusercontent.com/2414647/30331245-4576b1c6-97a5-11e7-89e3-c9bf4ff30d92.png)

[2017-09-14 19:12] chalettu commented on #120
I am all for yeoman generators.  I have built them in the past.  Do you have a notion of what things you want in your template?

[2017-09-20 08:11] karelhala opened #160 "Separate GTL item"
Right now we have GTL view which includes pagination and GTL item directly, it would be nice to have component just for each GTL object (small/big tile, table). This way we could use this (any GTL item) component wherever we want without pagination.

EDIT: Also this might be interesting to UX team as well. Since we will be working with tables and refactoring them, how about we unify the styles and

[2017-09-21 16:41] himdel commented on #120
@chalettu Thanks, that's good news :)

I think mostly what we have there right now anyway.. it should..

* create a component
* all the missing `index.ts` files that just require and register stuff along the way
* create the demo screen for that component
* adds the module to application-settings.js

[2017-09-27 08:03] karelhala commented on #160
ping @AparnaKarve @serenamarie125 @martinpovolny @epwinchell

[2017-09-27 11:39] romanblanco opened #173 "Issue with Tag Control element in Dialog Editor"
After draging Tag Control element into the Dialog Box, I'm getting error in console:

[code]

![screencast from 2017-09-27 13-38-39](https://user-images.githubusercontent.com/1187051/30911526-3d0206ae-a389-11e7-95bf-7ecf6c62d2c5.gif)

[2017-09-27 11:39] romanblanco commented on #173
@miq-bot add_label bug
@miq-bot assign @romanblanco

[2017-09-27 13:10] epwinchell commented on #160
We've had discussions with @serenamarie125 in the past about replacing Tile View with PF ListView. I'm strongly in favor of that.

cc\ @dclarizio

[2017-10-04 11:34] miq-bot opened #174 "Provision requests listed in Services menu"
It feels confusing to me that requests for VM provision are listed in _Services_ menu _(Services => Requests)_, since we have _Requests_ in _Infrastructure_ too _(Compute => Infrastructure => Requests)_.

![screencapture-localhost-3000-miq_request-show_list-1474276148497](https://cloud.githubusercontent.com/assets/1187051/18627226/2198b534-7e5a-11e6-8a7b-c0c5c18bb138.png)

It would make more sense

[2017-10-11 21:15] chalettu opened #178 "Dialogs and required checkboxes"
Per @Loicavenel we expect when a checkbox is "required", that means that it needs to validate as being checked. Any other state should produce an error.

[2017-10-11 21:22] chalettu opened #179 "Dialog field regex validation"
Per @loicavenel, if a field has a regular expression check defined on it, it should run field validations whether or not the field itself is "required".  The implementation needs to account for allowing blank to be considered as valid input since the field is optional.  It needs to disable submission if someone edits the field and the field doesn't match validation regex.

[2017-10-11 21:39] chalettu opened #180 "Dialog field regex not validating"
When testing with the regex string  \A[\w+\-.]+@[a-z\d\-]+(\.[a-z]+)*\.[a-z]+\z
the API returns ```\\A[\\w+\\-.]+@[a-z\\d\\-]+(\\.[a-z]+)*\\.[a-z]+\\z```  I think the escaped ```\\``` is causing our regex validation to not work.  Investigate issue and fix.

[2017-10-17 15:34] chalettu opened #189 "Add support for Semantic release"
Add support for semantic release so we can release package updates to NPM seamlessly.

[2017-11-09 18:51] skateman opened #199 "Running `yarn run build` fails because of a line length issue"
[code]

The problem is that there are one-liner functions with the fat arrow syntax and they behave differently when rewritten to multiline ones. Any idea @karelhala @himdel?

[2017-11-10 12:47] himdel commented on #199
Well, it still works, but complains..

One option would be to drop the line length limit..

Another, you can provide default values for `onSelect` and `lazyLoad`, thus dropping the need for the `?:` and for the else branch.

[code]

[2017-11-23 14:00] #199 closed

[2017-12-11 14:57] himdel commented on #64
Still present... maybe try with `ng-non-bindable` ([ref](https://docs.angularjs.org/api/ng/directive/ngNonBindable))

[2017-12-13 15:09] romanblanco opened #219 "Dialog Editor issues"
In this issue I'll keep a list of known issues in the dialog editor, I'll keep it as WIP, until I describe the issues properly with all the details.

bugs, missing features:

- [ ] missing spinner
- [x] update multiselect dropdown to save the default values as string ("value" - normal, "value1,value2" - multiselect
- [x] tag control without set automate methods gives errors (https://github.com/Man

[2017-12-15 14:56] karelhala opened #222 "Quadicon component"
We are lacking quadicon component, right now it's generated on server and rendered as HTML object inside grid or tile.

### Improvements
Click action is now really complex and inside of it it's calculated what screen and what action should be triggered.
We could use more complex actions and show more information based on each quadicon.

[2017-12-15 15:15] martinpovolny commented on #222
WIP is here: https://github.com/ManageIQ/ui-components/pull/175

[2017-12-15 15:54] skateman commented on #222
@miq-bot assign @skateman

[2018-01-25 16:14] #222 closed

[2018-01-29 14:45] himdel commented on #44
@mtho11 Can we close this?

I assume node 8 is usable again on macs?

[2018-01-29 18:48] mtho11 commented on #44
Yes, closing.

[2018-01-29 18:48] #44 closed

[2018-02-09 12:24] himdel commented on #40
@miq-bot remove_label stale

This is still present.

And yes, @AllenBW, those :)

[2018-02-12 16:42] himdel opened #252 "npm - replace prepublish with something useful"
When prepublish fails, publish gets run anyway.

As of npm 5, `prepublish` is deprecated in favor of `prepare`.

[2018-02-12 16:42] himdel commented on #252
(2 bad npm releases already because of this)

[2018-02-12 16:43] himdel commented on #252
example:

[code]

[2018-02-12 16:45] himdel commented on #252
@karelhala Do you know anything about this?

[2018-02-12 18:20] karelhala commented on #252
@himdel I will check it out, looks like wrongly installed npm package

[2018-02-13 09:41] karelhala commented on #252
@himdel looks like we are missing one step when publishing -> `npm install` I'll update the wiki with this step

[2018-02-13 13:24] himdel commented on #252
Yeah, this was meant more generally , as in "publish should never produce a broken release" :).

But thanks for the update, makes sense :)

[2018-02-16 13:20] skateman commented on #219
I went through both the codebase and these tasks and here is my refactoring idea that would help with these issues. First of all, I'd love to see a [single top-level component](https://github.com/ManageIQ/ui-components/pull/257) that can be dropped into any project by just injecting two services into it: one for [fetching/saving](https://github.com/ManageIQ/manageiq-ui-classic/pull/3414) the data

[2018-02-16 13:43] romanblanco opened #260 "Missing selectpicker in demo page"
I'm getting an error describing missing selectpicker function while testing a dialog editor in ui-components demo page:

[code]

![screencast from 2018-02-16 14-42-12](https://user-images.githubusercontent.com/1187051/36310219-a39af20a-1327-11e8-9e8b-154ba804e006.gif)

/cc @skateman @karelhala

[2018-02-19 09:44] karelhala commented on #219
The codesnippet looks good, I like the idea of splitting current service into two, one for data and the other for data flow. We might simplify it even more by dropping `dialog-editor-tab-list` and `dialog-editor-section` and replacing them with classic `div` and `section`, because right now they just feel as proxies which would just pass data and events and no logic would be involved. But we'll se

[2018-02-19 09:47] skateman commented on #219
@karelhala as I stated above, the `section` and `tab-list` components should be responsible for adding/deleting/reordering their child components. If we change them into standard HTML elements, we will have to put this functionality elsewhere...

[2018-02-19 12:23] #260 closed

[2018-02-24 16:58] #80 closed

[2018-02-28 17:07] himdel commented on #45
"Opened by bitHound" and went stale .. just closing.

We will have to take a look at the npm dependencies when moving ui-classic to use ui-components via npm anyway.

[2018-02-28 17:07] #45 closed

[2018-05-02 12:09] himdel commented on #252
And 1.1.13 (all marked as deprecated now: `npm deprecate @manageiq/ui-components@1.1.13 "broken html loader"`)

[2018-05-30 17:31] d-m-u opened #297 "default field values should actually be in list of values"
Given field with values of "one", "two", "three", it makes absolutely no sense whatsoever to be able to set the default value to "four". And yet you can!

[2018-05-30 17:58] d-m-u opened #298 "shouldn't a text box have a value that you can set?"
I think you should be able to set values for text boxes in new editor. It's a dialog field, and they have values. Why can't you set a value in the editor?

[2018-05-30 18:15] #298 closed

[2018-05-30 18:21] #297 closed

[2018-06-07 17:43] miq-bot opened #301 "dropdown won't let you add entries"
After changing a dynamic dropdown to no longer be dynamic, the button for adding entries is present but does nothing at all when clicked. Not being able to add entries means the dialog fails validation.

---

*This issue was moved to this repository from https://github.com/ManageIQ/manageiq-ui-classic/issues/3981, originally opened by @d-m-u*

[2018-06-11 11:29] #301 closed

[2018-06-21 09:39] himdel commented on #64
Still present, but React components can be used as custom toolbars, and people tend to not use the toolbar code for custom toolbars, closing.

[2018-06-21 09:39] #64 closed

[2018-07-23 20:07] epwinchell opened #330 "Dynamic dialog radio button styling issue"
As mentioned in: https://github.com/ManageIQ/ui-components/pull/318 , the styling of radio buttons in the dynamic dialog is non-standard (radio buttons  wrapped in a label with "btn btn-primary" classes applied)

<img width="285" alt="screen shot 2018-07-23 at 3 59 37 pm" src="https://user-images.githubusercontent.com/1287144/43099839-6e27ca72-8e91-11e8-9c99-39b1aeb7beeb.png">

vs

<img width="280

[2018-07-23 20:07] epwinchell commented on #330
@miq-bot assign @epwinchell

[2018-07-23 20:47] chalettu commented on #330
This particular style issue predates me here on the Service UI team.  I believe it predates patternfly's styling as well.  Truthfully, I don't think there is anyone here that can probably provide the rational behind why it was chosen to style them this way.  I am all for changing it.

[2018-07-23 21:53] eclarizio commented on #330
@epwinchell I don't know if there was any big rationale for styling them the way they are now, maybe that was just the "bootstrap" style back when we started using it? I'm not sure 😢 . I agree with  @chalettu though, I'm not against changing it to however it should be done to be standard with patternfly.

[2018-07-24 00:21] Rohoover commented on #330
From an accessibility standpoint they're pretty nightmarish for those with visual impairment.

+1 to switch to PF

[2018-07-24 10:32] terezanovotna commented on #330
+1 to switch to PF [radio button](https://www.patternfly.org/pattern-library/forms-and-controls/data-input/)

[2018-07-24 12:50] himdel commented on #330
+1 too, but whoever ends up doing it, please fix this in all the places, there's at least 2 - dialog-editor & dialog-user

[2018-07-27 13:59] #330 closed

[2018-08-03 06:58] mzazrivec opened #336 "JavaScript error on Dashboards screen"
I'm getting the following error in javascript console on current ManageIQ master:

[code]

[2018-10-05 13:47] himdel commented on #336
This was fixed in https://github.com/ManageIQ/ui-components/pull/343, closing :)

[2018-10-05 13:47] #336 closed

[2018-10-13 05:58] skateman opened #352 "Missing sourcemaps in the classic UI"
[code]

@miq-bot assign @himdel

[2019-03-27 08:07] romanblanco commented on #219
@miq-bot remove_label stale

[2019-06-18 08:41] romanblanco commented on #98
@serenamarie125 @himdel I believe we can close this

[2019-06-18 09:20] #98 closed

[2019-06-19 19:32] martinpovolny commented on #219
@karelhala, @skateman: we should limit the investment into refactoring this. What we need is document what is does and rewrite it in react and while doing it keep one eye on PF4.

[2019-06-24 13:47] romanblanco opened #396 "Refreshing forms on update from Automate"
While updating service dialogs by values from automate, the validation does not get updated automatically. After hover action, the Submit button gets enabled:

![Screencast from 2019-06-24 12-43-45](https://user-images.githubusercontent.com/1187051/60019717-14c4d380-967e-11e9-9ef7-2ce73f92eac0.gif)

[2019-06-27 07:27] martinpovolny commented on #396
@eclarizio : and this one, please ;-)

[2019-07-04 16:08] himdel commented on #396
Note to self: this may be fixed in https://github.com/ManageIQ/ui-components/pull/399

(because `DialogField.$onInit` now does `validateField` by default)

[2019-07-08 11:46] himdel commented on #396
Fixed in #396, the whole refresh path never really ran the setupField conversions, now it does.

[2019-07-08 18:09] #396 closed

[2019-07-31 15:00] epwinchell opened #406 "Remove gray background from the GTLs / restyle quadicon wrapper"
Now that the decision has been made to remove the old tile view (https://bugzilla.redhat.com/show_bug.cgi?id=1734182), it would be a great time to deal with another complication: When GTL was moved to Ui-components, a decision was made to wrap both the Tiles and Quadicons in a pf-card and display them on a gray background. This was not only inconsistent with list view but created enormous headache

[2019-07-31 15:00] epwinchell commented on #406
@miq-bot assign @epwinchell

[2019-07-31 15:01] epwinchell commented on #406
cc\ @himdel @martinpovolny @terezanovotna

[2019-07-31 15:03] himdel commented on #406
I'm all for this,
we *still* have problems with code adding/removing the gray background.

[2019-08-01 07:57] terezanovotna commented on #406
Hi @epwinchell.

I am not against switching from gray to white background. But I don't like removing cards from each quadicon. I like how the card brings all the info together - the quad icons, the text above it. Can we keep the cards with the quad icon? maybe add some kind of a drop shadow so it is visible on the white background.

@karelhala has a good idea.

[2019-08-01 08:03] karelhala commented on #406
I am strongly against removing cards from this view. I deliberately added them because it looked like on the proposed solution and honestly that doesn't look nice and user friendly. The worst part is that checkbox, we are forcing users to hit such a small target and on mobile devices that will lead to unwanted redirects (clicking on text will take you to detail).

This view without cards is not PF

[2019-08-01 08:18] terezanovotna commented on #406
I like what Karel suggested.

[2019-08-01 16:05] epwinchell commented on #406
@terezanovotna @karelhala Sounds good

[2019-08-07 11:08] himdel commented on #406
Closed by https://github.com/ManageIQ/ui-components/pull/409 (and https://github.com/ManageIQ/manageiq-ui-classic/pull/5917) :)

[2019-08-07 11:08] #406 closed

[2019-09-02 09:41] himdel opened #411 "node 12 support"
from gitter :point_up: [August 29, 2019 11:47 AM](https://gitter.im/ManageIQ/manageiq/ui?at=5d67bb398deffa6acf9d79ca)

(same issue as https://github.com/ManageIQ/manageiq-ui-classic/issues/5589,
likely the fix is to update node-sass to 4.12, same as https://github.com/ManageIQ/manageiq-ui-classic/pull/6008)

cc @romanblanco

[2019-09-02 12:23] #411 closed

[2019-09-13 15:13] bekasovoleg opened #416 "Broken dropdown with items number in table"
Has anyone had such bug? I have this bug when try to use `miq-data-table` in `manageiq-ui-service`

![Screenshot from 2019-09-13 18-10-01](https://user-images.githubusercontent.com/14850567/64873542-f7d2e780-d651-11e9-9f35-41eb76748a0b.png)

[2019-09-13 15:20] bekasovoleg commented on #416
I figure out there is no `dropdown-menu` class when I use `miq-data-table`
![Screenshot from 2019-09-13 18-18-41](https://user-images.githubusercontent.com/14850567/64874061-fce46680-d652-11e9-8a55-1e20e38a37db.png)

But there is `dropdown-menu` class in `ui-components` Demo

![Screenshot from 2019-09-13 18-15-42](https://user-images.githubusercontent.com/14850567/64873808-8ba4b380-d652-11e9-8709-

[2019-09-13 20:11] bekasovoleg opened #419 "miq-data-table pagination confused behavior"
`miq-pagination` consists of `miq-sort-items`, `miq-paging` and `select all` checkbox

when `paginationCtrl.settings.hideSelect` is set, `miq-pagination` is hidden instead of only `select all` checkbox part

https://github.com/ManageIQ/ui-components/blob/master/src/gtl/components/pagination/pagination.html#L1

if `tableCtrl.settings.sortBy` isn't true, also `miq-pagination` is hidden instead of  `

[2019-09-16 08:58] bekasovoleg opened #420 "miq-data-table enhancement"
Add capability to disable table cols:

[code]

First column uses for select box, but if we don't use select box, first column still is shown
We have no way to disable first column

Add check if there are select boxes

https://github.com/ManageIQ/ui-components/blob/master/src/gtl/components/data-table/data-table.html#L17

[2019-09-16 12:24] himdel commented on #416
Fixed by #418, I believe :)

[2019-09-16 12:24] #416 closed

[2019-09-16 12:32] himdel commented on #416
@bekasovoleg side note, we're trying to move off angular (in all the manageiq projects) to reduce the number of frameworks to ideally 1.

So, if you're writing new code, please consider writing it in react now.

As of https://github.com/ManageIQ/manageiq-ui-service/pull/1576, you *can* use react components in ui-service angular screens.

If you need the full GTL, you're out of luck, we don't have

[2019-09-16 12:38] bekasovoleg commented on #416
@himdel it would be great to move `ReportDataTable` to https://github.com/ManageIQ/react-ui-components

[2019-09-17 07:06] martinpovolny commented on #419
@bekasovoleg : we are going to rewrite this component in react in the following months.

I suggest you you make a list of issues/improvements and we apply it to the new (React) version.

[2019-09-17 07:58] bekasovoleg commented on #419
@martinpovolny

- Capability to disable column with select boxes
- Capability to hide columns
- Capability to show pagination on top and (or) bottom of table
- Filtering by column
- Capability to highlight certain rows

[2019-09-18 11:27] martinpovolny commented on #416
It talks directly to the `API`. So it depends on manageiq-ui-classic.

Why would you want to move it there?

[2019-09-25 11:23] #189 closed

[2019-09-25 11:23] himdel commented on #189
Closing, we'll be moving things over to react-ui-components once react versions exist.

[2019-09-25 11:27] himdel commented on #174
Not related to ui-components, closing

[2019-09-25 11:27] #174 closed

[2019-09-25 11:28] #160 closed

[2019-09-25 11:30] #120 closed

[2019-09-25 11:34] himdel commented on #97
Closing, current PF3 radio design is no longer using the white on blue design.

(from http://www.patternfly.org/pattern-library/forms-and-controls/data-input/#/radio-buttons)
![data-input-radio-buttons](https://user-images.githubusercontent.com/289743/65597314-58ceb980-df88-11e9-8651-d5751d1d7196.png)

[2019-09-25 11:34] #97 closed

[2019-09-25 11:34] #40 closed

[2019-09-25 11:35] himdel commented on #420
(closing, this is already part of the list in https://github.com/ManageIQ/ui-components/issues/419)

[2019-09-25 11:35] #420 closed

[2019-09-25 11:41] skateman commented on #120
yay

[2019-10-09 12:35] romanblanco commented on #173
@miq-bot remove_label stale

The issue is still reproducible

[2019-10-09 12:36] romanblanco commented on #173
@miq-bot add_label dialog editor

[2019-10-09 12:37] romanblanco commented on #219
@miq-bot add_label dialog editor

[2019-12-06 15:26] mfeifer commented on #252
@himdel is this still an issue?

[2019-12-06 16:59] himdel commented on #252
Ah, yes it is, removing `stale`.

[2020-04-24 11:02] himdel commented on #252
WONTFIX, the npm package is going away

[2020-04-24 11:02] #252 closed

[2020-06-25 07:47] romanblanco commented on #219
@miq-bot remove_label stale
@miq-bot add_label pinned

[2020-06-29 18:53] gtanzillo commented on #154
/cc @h-kataria

[2020-06-29 18:54] gtanzillo commented on #178
/cc @h-kataria

[2020-06-30 15:30] h-kataria commented on #154
Closing, This has already been implemented
![Screenshot from 2020-06-30 11-29-21](https://user-images.githubusercontent.com/3450808/86145509-009f8780-bac5-11ea-8522-dec691129b16.png)

[2020-06-30 15:30] #154 closed

[2020-06-30 15:33] h-kataria commented on #178
Closing, already implemented

![Screenshot from 2020-06-30 11-33-32](https://user-images.githubusercontent.com/3450808/86145949-93402680-bac5-11ea-929a-d665f89c830d.png)

[2020-06-30 15:33] #178 closed

[2020-06-30 15:39] h-kataria commented on #180
closing, already implemented
![Screenshot from 2020-06-30 11-38-36](https://user-images.githubusercontent.com/3450808/86146502-4e68bf80-bac6-11ea-9c7d-1447bd07daea.png)

![Screenshot from 2020-06-30 11-38-19](https://user-images.githubusercontent.com/3450808/86146510-51fc4680-bac6-11ea-9f9a-2e6f219cbf22.png)

[2020-06-30 15:39] #180 closed

[2020-06-30 15:39] h-kataria commented on #179
already implemented

![Screenshot from 2020-06-30 11-38-36](https://user-images.githubusercontent.com/3450808/86146502-4e68bf80-bac6-11ea-9c7d-1447bd07daea.png)

![Screenshot from 2020-06-30 11-38-19](https://user-images.githubusercontent.com/3450808/86146510-51fc4680-bac6-11ea-9f9a-2e6f219cbf22.png)

[2020-06-30 15:39] #179 closed

[2020-06-30 15:46] h-kataria commented on #173
@mzazrivec can you take a look.

[2020-10-27 13:44] DavidResende0 opened #453 "Truncation Issue in the Dialog Editor with Certain Languages"
Affects both Japanese and French translations but may also affect others.

<img src="https://user-images.githubusercontent.com/64800041/97309000-e63da680-1837-11eb-8003-b097f0defae4.png" width="700">
<img src="https://user-images.githubusercontent.com/64800041/97309038-edfd4b00-1837-11eb-91e7-d83c17bb1bcf.png" width="100">

[2021-01-19 16:28] #453 closed

[2021-02-08 21:05] himdel commented on #419
Closing, https://github.com/ManageIQ/manageiq-ui-classic/pull/7188 changed the implementation to react.

[2021-02-08 21:05] #419 closed

[2022-07-18 20:45] Fryguy opened #465 "Convert to GitHub Actions"
Seems this was missed in the larger conversion.